@model CMSSolutions.Websites.Models.DataViewerModel

<div class="bg-daoxu">
    <div style="padding-left: 8px;">
        <ul class="profi-menu">
            <li>
                <a class="@(Model.DataType == 0 ? "active" : string.Empty)" href="@Url.Action("ShowInformations", "HomeDigCoins", new {@alias = "dao-xu", @id = 10})">GIỚI THIỆU</a>
            </li>
            <li>
                <a class="@(Model.DataType == 1 ? "active" : string.Empty)" href="@Url.Action("Index", "HomeDigCoins", new {@alias = "dao-xu", @id = 10})">SỰ KIỆN</a>
            </li>
            <li>
                <a class="@(Model.DataType == 2 ? "active" : string.Empty)" href="@Url.Action("ShowLogs", "HomeDigCoins", new {@alias = "dao-xu", @id = 10})">LOG NHẬN THƯỞNG</a>
            </li>
            <li>
                <a class="@(Model.DataType == 3 ? "active" : string.Empty)" href="@Url.Action("ShowHelps", "HomeDigCoins", new {@alias = "dao-xu", @id = 10})">HƯỚNG DẪN</a>
            </li>
        </ul>
    </div>

    <div class="clear_both w960_h10"></div>
    @if (Model.Customer != null)
    {
        <div style="text-align: center; line-height: 25px">
            <p style="line-height:20px;color:#333;margin-top:10px;">
                Chào <strong class="orange_color">@Model.Customer.FullName</strong> ! 
                Mã số tài khoản của bạn là <strong class="orange_color">@Model.Customer.CustomerCode</strong>
            </p>
            Tham gia mua sắm hoặc hoàn thành nhiệm vụ tại <a class="orange_color" target="_blank" title="nạp vip" href="@Url.Action("Index", "HomeDigCoins", new {@alias = "dao-xu", @id = 10})">KÊNH ĐÀO XU</a> để nhận ngay VIPXU
            <br> 
            <div class="orange_color">MUA CÀNG NHIỀU NHẬN QUÀ CÀNG LỚN</div>
        </div>
    }
    <div>
        <div class="tab-content-faq">
            <div id="faq1">
                <div class="faq-show2">
                    <div class="show-info-img">
                        <img alt="Giới thiệu đào xu" src="/Media/Default/DaoXu/gioithieu_medium.png">
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#homeBanner").hide();
        $(".main-full").addClass("top");
        $(".content_left").hide();
        $(".content_right").hide();
    });
</script>