<ul>        
	<li>
		<h3>Trang chủ</h3></li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-le", @id = 2})" title="Phim lẻ mới up">Phim lẻ mới up</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-bo", @id = 3})" title="Phim bộ mới up">Phim bộ mới up</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeTheater")" title="Phim chiếu rạp">Phim chiếu rạp</a>
        </h4>
	</li>    
</ul>    
<ul>        
	<li>
		<h3>Phim lẻ</h3></li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-hanh-dong", @id = 11})" title="Phim hành động">Phim hành động</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-vo-thuat", @id = 12})" title="Phim võ thuật">Phim võ thuật</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-hai-huoc", @id = 19})" title="Phim hài">Phim hài</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-ma-kinh-di", @id = 23})" title="Phim Ma - Kinh dị">Phim Ma – Kinh dị</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-tinh-cam", @id = 17})" title="Phim tình cảm">Phim tình cảm</a>
        </h4>
	</li>    
</ul>    
<ul>        
	<li>
		<h3>PHIM BỘ</h3></li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-han-quoc", @id = 32})" title="Phim Hàn Quốc">Phim Hàn Quốc</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-au-my", @id = 30})" title="Phim Âu-Mỹ">Phim Âu-Mỹ</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-trung-quoc", @id = 35})" title="Phim Trung Quốc">Phim Trung Quốc</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-hong-kong", @id = 33})" title="Phim Hồng Kong">Phim Hồng Kông</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-nhat-ban", @id = 34})" title="Phim Nhật Bản">Phim Nhật Bản</a>
        </h4>
	</li>    
</ul>    
<ul>        
	<li>
		<h3>CHUYÊN MỤC</h3></li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-hay", @id = 5})" title="Clip hay">Clip</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeTrailer", new {@alias = "trailer", @id = 6})" title="Trailer phim chiếu rạp">Trailer</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeNews")" title="Tin tức mới nhất trên VipHD">Tin Tức</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="javascript: void(0);" title="Diễn đàn VipHD.VN">Diễn đàn</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "jj-channel-viphd", @id = 9})" title="JJ Channel">JJ Channel</a>
        </h4>
	</li>        
	<li>
        <h4>
            <a href="javascript: void(0);" onclick="javascript: checkLogin();" title="Nạp VIP">Nhà Tài Trợ</a>
        </h4>
	</li>    
</ul>