<div class="menu_header">    
    <div id="smoothmenu1" class="ddsmoothmenu">     
        <ul>            
            <li class="mar-r20">
                <a class="menu_fa_text movie_menu_fa" title="Phim lẻ" href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-le", @id = 2})">PHIM LẺ</a>                
                <ul class="menu_fa_ul" style="width: 280px !important;">                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-hanh-dong", @id = 11})" title="Phim Hành động">Hành động</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-vo-thuat", @id = 12})" title="Phim Võ thuật">Võ thuật</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-kiem-hiep", @id = 13})" title="Phim Kiếm hiệp">Kiếm hiệp</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-phieu-luu", @id = 14})" title="Phim Phiêu lưu">Phiêu lưu</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-hinh-su", @id = 15})" title="Phim Hình sự">Hình sự</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-chien-tranh", @id = 16})" title="Phim Chiến tranh">Chiến tranh</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-tinh-cam", @id = 17})" title="Phim Tình cảm">Tình cảm</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-tam-ly", @id = 18})" title="Phim Tâm lý">Tâm lý</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-hai-huoc", @id = 19})" title="Phim Hài">Hài</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-hoat-hinh", @id = 20})" title="Phim Hoạt hình">Hoạt hình</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-than-thoai", @id = 65})" title="Phim thần thoại">Thần thoại</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-khoa-hoc-vien-tuong", @id = 22})" title="Phim Khoa học viễn tưởng">Khoa học viễn tưởng</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-ma-kinh-di", @id = 23})" title="Phim Ma – Kinh dị">Ma – Kinh dị</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-tai-lieu", @id = 24})" title="Phim Tài liệu">Tài liệu</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-su-thi-co-trang", @id = 25})" title="Phim Sử thi - Cổ trang">Sử thi - Cổ trang</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-gia-dinh", @id = 26})" title="Phim Gia đình">Gia đình</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-the-thao-am-nhac", @id = 27})" title="Phim Thể thao - Âm nhạc">Thể thao - Âm nhạc</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-kinh-dien", @id = 28})" title="Phim Kinh điển">Kinh điển</a></li>                    
                    <li><a class="all_a_link_ttt" href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-le", @id = 2})">Tất cả Phim Lẻ</a></li>                
                </ul>            
            </li>            
            <li class="mar-r20">
                <a class="menu_fa_text movies_menu_fa" title="Phim bộ" href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-bo", @id = 3})">PHIM BỘ</a>                
                <ul class="menu_fa_ul" style="width: 280px !important;">                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-an-do", @id = 29})" title="Phim Ấn Độ">Ấn Độ</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-au-my", @id = 30})" title="Phim Âu-Mỹ">Âu-Mỹ</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-chau-a-khac", @id = 31})" title="Phim Châu Á khác">Châu Á khác</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-han-quoc", @id = 32})" title="Phim Hàn Quốc">Hàn Quốc</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-hong-kong", @id = 33})" title="Phim Hồng Kông">Hồng Kông</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-nhat-ban", @id = 34})" title="Phim Nhật Bản">Nhật Bản</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-trung-quoc", @id = 35})" title="Phim Trung Quốc">Trung Quốc</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-dai-loan", @id = 36})" title="Phim Đài Loan">Đài Loan</a></li>        
                    <li><a class="all_a_link_ttt" href="@Url.Action("Index", "HomeCategory", new {@alias = "phim-bo", @id = 3})">Tất cả Phim Bộ</a></li>                
                </ul>           
            </li>            
            <li class="mar-r20">
                <a class="menu_fa_text show_menu_fa" title="Shows" href="@Url.Action("Index", "HomeShow", new {@alias = "shows", @id = 4})">SHOW</a>                
                <ul class="menu_fa_ul" style="width: 280px !important;">                    
                    <li><a href="@Url.Action("Index", "HomeShow", new {@alias = "shows-am-nhac", @id = 37})" title="Show Âm Nhạc">Âm Nhạc</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeShow", new {@alias = "shows-am-thuc", @id = 38})" title="Show Ẩm Thực">Ẩm Thực</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeShow", new {@alias = "shows-khac", @id = 39})" title="Show Khác">Khác</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeShow", new {@alias = "shows-live-show", @id = 40})" title="Show Live Show">Live Show</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeShow", new {@alias = "shows-tv-show", @id = 41})" title="Show TV Show">TV Show</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeShow", new {@alias = "shows-thoi-trang", @id = 42})" title="Show Thời Trang">Thời Trang</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeShow", new {@alias = "shows-dien-anh", @id = 43})" title="Show Điện Ảnh">Điện Ảnh</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeShow", new {@alias = "shows-thieu-nhi", @id = 44})" title="Show Thiếu Nhi">Thiếu Nhi</a></li>                   
                    <li><a href="@Url.Action("Index", "HomeShow", new {@alias = "shows-giao-duc", @id = 45})" title="Show Giáo Dục">Giáo Dục</a></li>                    
                    <li><a class="all_a_link_ttt" href="@Url.Action("Index", "HomeShow", new {@alias = "shows", @id = 4})">Tất Tần Tật</a></li>                
                </ul>           
            </li>            
            <li class="mar-r20">               
                <a class="menu_fa_text clip_menu_fa" title="Clips" href="@Url.Action("Index", "HomeClip", new {@alias = "clip-hay", @id = 5})">CLIP</a>                
                <ul class="menu_fa_ul" style="width: 280px !important;">                    
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-o-to-va-xe-co", @id = 46})" title="Clip Ô tô &amp; Xe cộ">Ô tô &amp; Xe cộ</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-hai-huoc", @id = 47})" title="Clip Hài">Hài</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-giao-duc", @id = 48})" title="Clip Giáo Dục">Giáo Dục</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-giai-tri", @id = 49})" title="Clip Giải Trí">Giải Trí</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-phim-va-hoat-hinh", @id = 50})" title="Clip Phim &amp; Hoạt Hình">Phim &amp; Hoạt Hình</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-howto-va-style", @id = 51})" title="Clip Howto &amp; Style">Howto &amp; Style</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-am-nhac", @id = 52})" title="Clip Âm Nhạc">Âm Nhạc</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-tin-tuc-va-chinh-tri", @id = 53})" title="Clip Tin Tức và Chính Trị">Tin Tức và Chính Trị</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-vblog", @id = 54})" title="Clip VBlog">VBlog</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-dong-vat", @id = 55})" title="Clip Động Vật">Động Vật</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-khoa-hoc-va-ky-thuat", @id = 56})" title="Clip Khoa Học &amp; Kỹ Thuật">Khoa Học &amp; Kỹ Thuật</a></li>                  
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-the-thao", @id = 57})" title="Clip Thể Thao">Thể Thao</a></li>                    
                    <li><a href="@Url.Action("Index", "HomeClip", new {@alias = "clip-du-lich-va-su-kien", @id = 58})" title="Clip Du Lịch và Sự Kiện">Du Lịch và Sự Kiện</a></li>                    
                    <li><a class="all_a_link_ttt" href="@Url.Action("Index", "HomeClip", new {@alias = "clip-hay", @id = 5})">Tất Tần Tật</a></li>                
                </ul>           
            </li>                    
            
            <li class="mar-r20">
                <a class="menu_fa_text trailer_menu_fa" title="Trailer" href="@Url.Action("Index", "HomeTrailer", new {@alias = "trailer", @id = 6})">TRAILER</a>            
            </li>
                        
            <li class="mar-r20">
                <a class="menu_fa_text jj_menu_fa" title="JJ Channel" href="@Url.Action("Index", "HomeJJChannel", new {@alias = "jj-channel-viphd", @id = 9})">JJ CHANNEL</a>             
                <ul class="menu_fa_ul" style="width: 570px !important;">
                    <li>
                        <a style="font-weight: bold;" href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-drama", @id = 66})" title="J-Drama">J-Drama</a>
                        <div>
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-drama-hanh-dong", @id = 70})" title="Hành động">Hành động</a></div>                    
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-drama-vo-thuat", @id = 71})" title="Võ thuật">Võ thuật</a></div>                    
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-drama-phieu-luu", @id = 72})" title="Phiêu lưu">Phiêu lưu</a></div>                    
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-drama-tinh-cam", @id = 73})" title="Tình cảm">Tình cảm</a></div>  
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-drama-tam-ly", @id = 99})" title="Tâm lý">Tâm lý</a></div>                  
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-drama-hai-huoc", @id = 74})" title="Hài hước">Hài hước</a></div>                    
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-drama-khoa-hoc-vien-tuong", @id = 75})" title="Khoa học viễn tưởng">Khoa học viễn tưởng</a></div>                    
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-drama-ma-kinh-di", @id = 76})" title="Ma - Kinh dị">Ma - Kinh dị</a></div>
                        </div>
                    </li>
                    <li>
                        <a style="font-weight: bold;" href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-movie", @id = 67})" title="J-Movie">J-Movie</a>
                        <div>
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-movie-hanh-dong", @id = 77})" title="Hành động">Hành động</a></div>                    
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-movie-vo-thuat", @id = 78})" title="Võ thuật">Võ thuật</a></div>                    
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-movie-phieu-luu", @id = 79})" title="Phiêu lưu">Phiêu lưu</a></div>                    
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-movie-tinh-cam", @id = 80})" title="Tình cảm">Tình cảm</a></div>  
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-movie-tam-ly", @id = 100})" title="Tâm lý">Tâm lý</a></div>                  
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-movie-hai-huoc", @id = 81})" title="Hài hước">Hài hước</a></div>                    
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-movie-khoa-hoc-vien-tuong", @id = 82})" title="Khoa học viễn tưởng">Khoa học viễn tưởng</a></div>                    
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-movie-ma-kinh-di", @id = 83})" title="Ma - Kinh dị">Ma - Kinh dị</a></div>
                        </div>
                    </li>
                    <li>
                        <a style="font-weight: bold;" href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-anime", @id = 21})" title="Anime ">Anime</a>
                        <div>
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-anime-action", @id = 87})" title="Action">Action</a></div>
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-anime-adventure", @id = 88})" title="Adventure">Adventure</a></div>
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-anime-comedy", @id = 89})" title="Comedy">Comedy</a></div>
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-anime-fantasy", @id = 90})" title="Fantasy">Fantasy</a></div>
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-anime-romance", @id = 91})" title="Romance">Romance</a></div> 
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-anime-sci-fi", @id = 92})" title="Sci-Fi">Sci-Fi</a></div>
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-anime-shounen", @id = 93})" title="Shounen">Shounen</a></div>
                            <div><a href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-anime-slice-of-life", @id = 94})" title="Slice of Life">Slice of Life</a></div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div><a style="font-weight: bold;" href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-edu", @id = 95})" title="J-Edu">J-Edu</a></div>
                            <div><a style="font-weight: bold;" href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-melo", @id = 96})" title="J-Melo">J-Melo</a></div> 
                            <div><a style="font-weight: bold;" href="@Url.Action("Index", "HomeJJChannel", new {@alias = "phim-j-show", @id = 97})" title="J-Show">J-Show</a></div> 
                        </div>
                    </li>                           
                </ul>              
            </li>     
            <li class="mar-r20">                
                <div class="free_menu_fa2">&nbsp;</div>                
                <a class="menu_fa_text free_menu_fa" title="Đào xu" href="javascript: void(0);" onclick="javascript:validateLogin();">ĐÀO XU</a>            
            </li>        
        </ul>    
    </div>
</div>    
  
<script type="text/javascript">  
    $(document).ready(function() {
        ddsmoothmenu.init({
            mainmenuid: "smoothmenu1", 
            orientation: 'h',
            classname: 'ddsmoothmenu',   
            contentsource: "markup"
        });
    });
    
    function validateLogin() {   
        var data = $("#loginCustomer").find("input").serialize();
        $.ajax({
            url: '@Url.Action("CheckLogin", "Home")',
            data: data,
            type: 'POST',
            dataType: 'json',
            success: function(result) {
                if (result.Status != true) {
                    dialogBox('#loginBox');
                    return;
                }
                var url = '@Url.Action("Index", "HomeDigCoins", new {@alias = "dao-xu", @id = 10})';
                window.location = url;
            }
        });
    }
</script>      
    
